@use '../general-styles/colors' as clrs;
@use '../general-styles/padding' as pad;
@use '../general-styles/typography' as type;

.contact {
  display: flex;
  justify-content: space-between;
  gap: 4rem 2rem;

  &__content,
  &__form {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__content {
    & > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &--title,
    &--desc {
      text-align: left;
    }
    &--desc {
      margin-bottom: 0;
      color: hsla(238, 49%, 13%, 0.5);
    }
  }

  &__form {
    fieldset {
      display: flex;
      gap: 1.5rem;

      input {
        flex-grow: 1;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: pad.padding-st-v('m') pad.padding-st-h('s');
      border: 0.1rem solid rgba(clrs.color-type('2'), 0.3);
      font-size: type.font-size-st('sc');
    }

    input[type='submit'] {
      cursor: pointer;
      background-color: clrs.color-link('3');

      &:hover {
        background-color: clrs.color-link('2');
      }
    }

    textarea {
      font-family: 'Roboto', sans-serif;
    }
  }
}
